<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">We're here to fix primary care</h5>
        <p class="grey-text text-lighten-4">We are partnering with doctors across the country to provide better care for less money.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#"><i class="fa fa-facebook"></i>  Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#"><i class="fa fa-linkedin"></i>  LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      © <%= Time.current.year %> HealthDirectly
    </div>
  </div>
</footer>