<header class="navbar-fixed">
	<nav>
		<div class="nav-wrapper indigo">
			<a class="button-collapse" data-activates="slide-out" data-turbolinks="false" href="#" id="sidenav">
				<i class="material-icons">menu</i>
			</a>
			<a href="/" class="brand-logo center">HealthDirectly</a>
			<ul class="right hide-on-med-and-down" id="nav-mobile">
				<li><a href="/">Home</a></li>
				<li><a href="/">About Us</a></li>
				<li><a href="/">How it Works</a></li>
				<% if user_signed_in? %>
					<li>
						<a class="dropdown-button" data-activates="dropdown1" href="#!">
							<span><%= current_user.email %></span>
							<i class="material-icons right">arrow_drop_down</i>
						</a>
					</li>
				<% else %>
					<li><%= link_to (t :sign_in), new_user_session_url %></li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<ul class="dropdown-content" id="dropdown1">
					<li><%= link_to (t :profile), edit_user_registration_url %></li>
					<li class="divider"></li>
					<li><%= link_to (t :sign_out), destroy_user_session_url, data: {method: :delete} %></li>
				</ul>
			<% end %>
		</div>
	</nav>
	<div class="tap-target sidenav" data-activates="sidenav">
		<div class="tap-target-content">
			<h5>Open Sidebar</h5>
			<p>Tell me what is wrong</p>
		</div>
	</div>
	<!-- % if current_hit <= 1 %>
		<script>
			$('.tap-target.sidenav').tapTarget('open');
		</script>
	<% end %-->
</header> 
